@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    transform: translateY(25%);
}

.content {
    background-color: #fff;
    width: 325px;
    border-radius: 15px;
    border: 12px solid #fff;
}

.image {
    width: 325px;
}

.image img{
    width: 300px;
    border-radius: 10px;
}

p {
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
}

.texts{
    margin: 10px 10px 20px ;
}

.texts h1 {
    font-size: 23px;
    text-align: center;
    margin-bottom: 20px;
    color: hsl(218, 44%, 22%);
}

.texts p{
    text-align: center;
    color: hsl(220, 15%, 55%);
}

@media only screen and (max-width: 1400px) {
    body {
        background-color: lightblue;
    }
}

@media only screen and (max-width: 375px) {
    body {
        background-color: hsl(220, 15%, 55%);
    }
}